:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.link {
  color: #646cff;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Moby Dick page */
.sperm-whale {
  width: 75%;
}

/* about moby dick */
.about {
  margin-bottom: 2em;
}

/* Kitten image */
.kitten {
  display: block;
  margin: auto;
  width: 75%;
  margin-top: 2em;
}

.founders {
  margin: 5px 0 5px 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3 {
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Navigation */
.nav-menu {
  text-align: right;
}

.nav-spacing {
  padding-right: 10px;
}

.underline {
  position: relative;
  text-decoration: none;
}

/* Create a pseudo-element for the underline */
.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  /* adjust to desired distance from text */
  height: 3px;
  /* adjust to desired thickness */
  width: 0;
  background-color: #747bff;
  transition: width 0.3s ease-in-out;
  /* set the animation transition */
}

.underline:hover::after {
  width: 100%;
}

/* PAragraphs */
p {
  width: 75%;
  margin: auto;
}

/* BlockQuote */
#my-blockquote {
  position: relative;
  left: -100%;
  transition: left 1s ease-in-out;
}

/* grid-container */
.grid-container {
  display: flex;
  background-color: #eee;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  text-align: center;
}

.grid-item img {
  width: 30%;
  max-width: 300px;
  height: auto;
}

.grid-item p {
  width: 50%;
  margin-top: 2em;
}

.grid-item h3 {
  font-size: 2em;
}

/* Twitter link */
.twitter-following {
  margin-top: 2em;
  font-style: italic;
}

/* Media query for the flex container */
@media (min-width: 320px) and (max-width: 767px) {

  /* CSS styles for the container */
  .grid-container {
    flex-wrap: wrap;
  }

  .grid-container p,
  .grid-container img {
    width: 100%;
  }

  .grid-container img {
    margin: 0 0 1em 0;
  }

}